<section class="seleccion-servicios">
    {{#each servicioData}}
            <button class="servicio" type="button" data-label="{{this.nombreServicio}}">
                <p data-i18n="cotizacionServicios.{{@index}}.nombreServicio">{{this.nombreServicio}}</p>
            </button>
    {{/each}}
</section>