<section class="job-card">
  <div class="job-card__info">
    <h2>{{plaza}}</h2>
    <p><strong data-i18n="empleos.ubicacion">Ubicación:</strong> {{ciudad}}</p>
    <p><strong data-i18n="empleos.tipoContrato">Tipo de Contrato:</strong> {{tipoContrato}}</p>
    <p><strong data-i18n="empleos.descripcionPuesto">Descripción del puesto:</strong> <p>{{descripcionPuesto}}</p>
  </div>

  <form class="job-card__form" id="jobForm">
  <div class="form-row">
    <div class="form-group">
      <label for="name" data-i18n="empleos.nombre">Nombre:</label>
      <input type="text" id="name" name="nombre" required />
      <small class="error-message" id="name-error"></small>
    </div>
    <div class="form-group">
      <label for="email" data-i18n="empleos.email">Email:</label>
      <input type="email" id="email" name="email" required />
      <small class="error-message" id="email-error"></small>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label for="phone" data-i18n="empleos.telefono">Teléfono:</label>
      <input type="tel" id="phone" name="telefono" required />
      <small class="error-message" id="phone-error"></small>
    </div>
  </div>

  <button type="submit" class="apply-btn" data-i18n="empleos.aplicar">Aplicar ahora</button>
</form>
</section>
