<section class="faq-layout">
    <!-- cosas Lado izquierd-->
    <div class="faq-info">
        <span class="faq-subtitulo" data-i18n="faq.subtitulo">Información</span>
        <h2 data-i18n="faq.titulo">Preguntas Frecuentes</h2>
        <p data-i18n="faq.descripcion">Aqui podras encontrar respuestas a incognitas comunes de nuestros clientes o temas que podrian interesarte.
        </p>

        <div class="faq-beneficio">
            <span class="icono"><img src="/images/icon_fast.png" alt="icono disponibilidad"/></span>
            <div>
                <strong data-i18n="faq.disponibilidadTitulo">¿Disponibilidad?</strong>
                <p data-i18n="faq.disponibilidadDescripcion">Brindamos atencion inmediata a tus necesidades.</p>
            </div>
        </div>

        <div class="faq-beneficio">
            <span class="icono"><img src="/images/icon_plus.png" alt="icono precios"/></span>
            <div>
                <strong data-i18n="faq.preciosTitulo">¿Cuáles son nuestros precios?</strong>
                <p data-i18n="faq.preciosDescripcion">Contamos con precios competitivos adaptados a tu presupuesto.</p>
            </div>
        </div>
        <div class="faq-beneficio">
            <span class="icono"><img src="/images/icon_team.png" alt="icono equipo"/></span>
            <div>
                <strong data-i18n="faq.equipoTitulo">¿Quién conforma nuestro equipo?</strong>
                <p data-i18n="faq.equipoDescripcion">Nuestro equipo está conformado por profesionales con amplia experiencia en el sector.</p>
            </div>
        </div>

        <input type="text" id="buscador" placeholder="Buscar pregunta..." data-i18n="[placeholder]faq.buscar" />
    </div>

    <!-- cosas lado derecho -->
    <div class="contenedor-preguntas">
        
        <div id="faq-lista"></div>
        <a class="faq-contacto" href="contactenos.html"><strong data-i18n="faq.masPreguntas">¿Tienes más preguntas? ¡Contáctanos! </strong></a>
    </div>
    
</section>